<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412263971767-lv46vrfgbmi4smm41ecnmcsngret60hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412263971767-lv46vrfgbmi4smm41ecnmcsngret60hi</string>
	<key>API_KEY</key>
	<string>AIzaSyDF3EG7G1WNuGw79towYALgGbxxuksj1PM</string>
	<key>GCM_SENDER_ID</key>
	<string>412263971767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.iteso.bibliobook.bibliobook</string>
	<key>PROJECT_ID</key>
	<string>proyectofinal-36373</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectofinal-36373.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412263971767:ios:be6c763c2dabfe50fe4632</string>
</dict>
</plist>